@import "../../style/pr-foundation";
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
@import "../../style/_mixins.scss";


.footerDiv{
  width: 100;
  height: 50px;
  background-color: $pr-white-20;
  font-family: $body-font;
  text-align: center;
}



i{
  padding: 0px 0px 2px 2px;
  font-size: 40px;
  align-items: right;
  color: $pr-black;
  display: inline-block;
  text-decoration: none;
}



hr{

  border: solid 1px $pr-off-gray;
}
