@import "../../style/pr-foundation";
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');


.footerDiv{
  width: 100;
  height: 150;
  background-color: $pr-white-20;
  font-family: $body-font;
  text-align: center;
  //background-image: url('https://sherwin.scene7.com/is/image/sw/color-swatch?_tparam_size=250,250&layer=comp&_tparam_color=019187');

}
