@import "../../style/pr-foundation";
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');


.headerDiv{
  width: 100;
  height: 50px;
  background-color: $pr-white;
  font-family: $body-font;
  color: $pr-pink;
  font-size: 22px;
  text-align: left;
}
