@import "../../style/pr-foundation";
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');


.headerDiv{
  width: 100;
  height: 50px;
  padding-left: 20px;
  padding-top: 20px;
  background-color: #0c3133;
  font-family: $body-font;
  background-size: 400px;
  background-image: url("https://images.pricerunner.com/images/site-gui/startsida/bg-start.png");
  margin-bottom: 15px;
  @include breakpoint(xs){
    height: 50px;
  }

}

.headerHomePageDiv{
  width: 100;
  height: 100px;
  padding-left: 20px;
  padding-top: 20px;
  background-color: #0c3133;
  font-family: $body-font;
  background-size: 400px;
  background-image: url("https://images.pricerunner.com/images/site-gui/startsida/bg-start.png");
  margin-bottom: 15px;
  text-decoration: none;
  @include breakpoint(xs){
    height: 150px;
    text-decoration: none;
  }

}

.icon-pr_logo_name{
  font-size: 22px;
  color: $pr-white;
  align-content: center;
  text-decoration: none;
  @include breakpoint(xs){
    font-size: 25px;
    text-align: left;
  }
}

.history{
  font-size: 15px;
  color: $pr-white;
  text-decoration: none;
  @include breakpoint(xs){
    font-size: 22px;
    text-decoration: none;
  };
}
