@import "../../style/pr-foundation";
@import "../../style/_mixins.scss";

.graphDiv{
  background-color:$pr-darkgray;
  width:100;
  height: 100;
  display: inline-block;
  margin-bottom: 15px;
  @include breakpoint(xs){
    width: 40%;
    height: 300px;
    background-color:$pr-darkgray;
    display: inline-block;
    float: right;
  }
}

.theGraph{
  background-color:$pr-darkgray;
  width:100;
  height: 100;
  @include breakpoint(xs){
    width: 50%;
    height: 100%;
    background-color:$pr-darkgray;
    padding-top: 50px;
    margin: auto;

  }
}

.class{
  display: inline-block;
}


.productName{
  font-family: $body-font;
  position: margin-left;
  margin-bottom: 15px;
  margin-left: 10px;
}
