@import "../../style/pr-foundation";
@import "../../style/_mixins.scss";

.graphDiv{
  background-color:$pr-darkgray;
  width:100;
  height: 100;
  @include breakpoint(xs){
    width: 100;
    height: auto;
    background-color:$pr-darkgray ;
  }
}

.class{
  display: inline-block;
}
