@import "../../style/pr-foundation";
@import "../../style/_mixins.scss";

.graphDiv{
  font-family: $body-font;
  font-size: $font-size-11;
  width:100;
  height: 100;
  display: inline-block;
  margin-bottom: 15px;
  @include breakpoint(xs){
    width: 40%;
    height: 300px;
    display: inline-block;
    float: right;
  }
}

.theGraph{
  border: 1px;
  border-color: $pr-darkgray;
  width:100;
  height: 100;
  @include breakpoint(xs){
    width: 50%;
    height: 100%;
    padding-top: 50px;
    margin: auto;

  }
}

.class{
  display: inline-block;
}


.productName{
  font-family: $body-font;
  position: margin-left;
  margin-bottom: 15px;
  margin-left: 10px;
}
