@import "../../style/pr-foundation";

.productDiv{
   background-color: $pr-pink;
   width: 100;
   height: 150px;
   #productInlineLeft{
     display: inline-block;
     background: $pr-pink-light;
     margin: 0px;
     width: 40%;
     height: 150px;
     float: left;
   }
//   #productInlineRight{
//     position: relative;
//     background:$pr-dusk-darker;
//     margin: 50%;
//     width: 30%;
//     height: 150px;
//     float: right;
//   }
}
