@import "../../style/pr-foundation";
@import '../../style/_mixins.scss';

.productInfoBox{
   height: 200px;
   width: 100%;
   background-color: $pr-gray;
   @include breakpoint(xs){
     background-color: $pr-gray;
     height: 50%;
   };

   #productPicture{
     display: inline-block;
     width: 90px;
     margin-left: 10px;
     margin-top: 10px;
     @include breakpoint(xs){
       display: inline-block;
       width: 10%;
     };
   }
   #titleInfoBox{
     @include breakpoint(xs){
        margin-left: 150px;
     };
   }
}

.productItem{
  background-color: $pr-dusk-darker;
  height: 100px;
  border: solid 1px white;
}
.pictureList{
  height:80%;
  margin-left: 10px;
  margin-top: 10px;
}
.nameList{
  background-color: white;
  margin-left: 100px;
  margin-bottom:70px;
}
