@import "../../style/pr-foundation";
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

.productInfoBox{
   height: 50%;
   width: 100%;
   background-color: $pr-gray;
   font-family: $body-font;


   @include breakpoint(xs){
     background-color: $pr-gray;
     height: 50%;
   };

   #productPictureImg{
     width: 90px;
     margin-left: 10px;
     margin-top: 10px;
     @include breakpoint(xs){
       display: inline-block;
       width: 10%;
     };
   }
   #titleInfoBox{
     padding-top:10px;
     margin-left: 100px;
     @include breakpoint(xs){
        margin-left: 10%;
     };
   }
   #titleAndInfo{
     display: inline-block;
   }

   #productInfoText{
     display: inline-block;
     @include breakpoint(xs){
        display: inline-block;
     };
   }
   #divInline{
     display:inline-block
   }
}


// Below: Product Item List
.productItem{
  background-color: $pr-dusk-darker;
  height: 100px;
  border: solid 1px white;
}
.pictureList{
  height:80%;
  margin-left: 10px;
  margin-top: 10px;
}
.nameList{
  background-color: white;
  margin-left: 100px;
  margin-bottom:70px;
}
