@import "../../style/pr-foundation";

.productInfoBox{
   height: 50%;
   width: 100%;
   background-color: $pr-pink-lighter;
   #productPicture{
     //display: inline-block;
     width: 30%;
     //float: left;
   }
//   #productInlineRight{
//     position: relative;
//     background:$pr-dusk-darker;
//     margin: 50%;
//     width: 30%;
//     height: 150px;
//     float: right;
//   }
}

.productItem{
  background-color: $pr-dusk-darker;
  height: 100px;
  border: solid 1px white;
}
