@import "../../../style/pr-foundation";

//-----------Header title:-------------

.headerDiv{
  #titleText {
    font-family: icomoon!important;
    font-size: 1.35714rem;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    //-webkit-font-smoothing: antialiased;
    text-align: center;
    color: $pr-pink;
    background-color: $quart-bg;

  }
}
