@import "../../style/pr-foundation";


h1{
  color: $pr-pink-dark;
  text-align: center;
  font: $fallback-font;
}

h2{
  color: $pr-orange;
}

.headerDiv{
  margin: 0;
  padding: 0;
  background-image: url('https://sherwin.scene7.com/is/image/sw/color-swatch?_tparam_size=250,250&layer=comp&_tparam_color=019187');
}
