@import "../../style/pr-foundation";

//temporary
h4{
  text-align: center;
}
//-----------Header:-------------
.headerDiv{
  width: 100;
  height: 100;
  background-color: $pr-orange;
  #temporaryHeaderComponent {
    text-align: center;
  }
  //background-image: url('https://sherwin.scene7.com/is/image/sw/color-swatch?_tparam_size=250,250&layer=comp&_tparam_color=019187');

}

//-----------Header title:-------------

.headerDiv{
  #title {
    text-align: center;
    color: $pr-pink-dark;
    background-color: $pr-orange;

  }
}
