$body-font: 'Maven Pro', Arial, sans-serif;
$fallback-font: Arial, sans-serif;
$font-size-base: 14px;

$line-height-sm: 18px;
$line-height-md: 18px;
$line-height-lg: 24px;
$line-height-xl: 30px;

$light-weight: 300;
$normal-weight: 400;
$semibold-weight: 500;

$font-size-5: 0.357rem;
$font-size-6: 0.428rem;
$font-size-7: 0.500rem;
$font-size-8: 0.571rem;
$font-size-9: 0.643rem;
$font-size-10: 0.714rem;
$font-size-11: 0.786rem;
$font-size-12: 0.857rem;
$font-size-13: 0.929rem;
$font-size-14: 1rem;
$font-size-15: 1.071rem;
$font-size-16: 1.143rem;
$font-size-17: 1.214rem;
$font-size-18: 1.286rem;
$font-size-19: 1.357rem;
$font-size-20: 1.429rem;
$font-size-22: 1.571rem;
$font-size-24: 1.714rem;
$font-size-25: 1.786rem;
$font-size-26: 1.857rem;
$font-size-28: 2.000rem;
$font-size-30: 2.142rem;
$font-size-32: 2.286rem;
$font-size-36: 2.571rem;
$font-size-40: 2.857rem;
$font-size-50: 3.571rem;
$font-size-54: 3.857rem;
$font-size-60: 4.285rem;
