@import "../../style/pr-foundation";


.factboxDiv{
  font-family: $body-font;
  background-color:$pr-darkgray;
  width: 100;
  height: 250px;
  margin-bottom: 15px;
  @include breakpoint(xs){
    background-color: $pr-darkgray;
    height: 250px;
    margin-bottom: 15px;
    width: 100;


  };
}

.factsHeadline{
  padding-top: 20px;
  padding-left: 20px;
}

.factsRetailer{
  padding-top: 20px;
  padding-left: 20px;
}


.facts{
  padding-top: 20px;
  padding-left: 20px;

}
