@import "../../style/pr-foundation";


.factboxDiv{
  background-color:$pr-dusk-lighter;
  width: 100;
  height: 150px;
  margin-bottom: 15px;
  @include breakpoint(xs){
    background-color: $pr-dusk-lighter;
    height: 300px;
    margin-bottom: 15px;

  };
}

.productName{
  font-family: $body-font;
  position: margin-left;
  margin-bottom: 15px;
}
