// Base URL without trailing slash
$cdn-images-base-url: 'https://images.pricerunner.com/images/';
$static-gui-files-url: $cdn-images-base-url + 'site-gui/';
$static-images-url: $static-gui-files-url + '/design/';
$static-fonts-url: 'https://images.pricerunner.com/files/fonts/';
